@import "foundation";
.top-bar {
    z-index: 5;
}
table{
    table-layout: fixed;
    td{
        overflow: hidden;
    }
    .sha{
        width: 100px;
    }
    .author{
        width: 180px;
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    list-style-type: none;
}
.diffs{
    list-style-type: none;
    li{
        border-bottom: solid black 1px;
    }
}
