@import "foundation";
.top-bar {
    z-index: 5;
}
table{
    table-layout: fixed;
    td{
        overflow: hidden;
    }
    .sha{
        width: 100px;
    }
    .author{
        width: 180px;
    }
    tbody{
        tr.selected{
            background: #77beff;
        }
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    list-style-type: none;
    li{
        .new_file{
            color: green;
        }
        .deleted{
            color: red;
        }
    }
}
.diffs{
    list-style-type: none;
    li{
        border-bottom: solid black 1px;
        overflow: hidden;        
    }
}
.hidden{
    display: none;
}
