@import "foundation";
.top-bar {
    z-index: 5;
}
table{
    thead{
        background: #cbcbcb;
        tr,th{
            border: 1px solid black;
        }
    }
    table-layout: fixed;
    border-collapse: collapse;
    td{
        overflow: hidden;
    }
    .sha{
        width: 100px;
    }
    .author{
        width: 180px;
    }
    tbody{
        tr.selected{
            background: #77beff;
            td{
                border-bottom: 2px solid #744096;
                border-top: 2px solid #744096;
                &:first-child{
                    border-left: 2px solid #744096;
                }
                &:last-child{
                    border-right: 2px solid #744096;
                }
            }
        }
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    list-style-type: none;
    li{
        .new_file{
            color: green;
        }
        .deleted{
            color: red;
        }
    }
}
.diffs{
    list-style-type: none;
    li{
        border-bottom: solid black 1px;
        overflow: hidden;        
        .diff-added-line{
            color: green;            
            background: #50E170;
        }
        .diff-removed-line{
            color: red;
            background: #880132;
        }
    }
}
.hidden{
    display: none;
}
