@import "foundation/foundation";

body{
    overflow-y:hidden;
}

.top-bar {
    z-index: 6;
    .refresh{
        img{
            position: relative;
            top: 8px;
        }
    }
}
.main .history.columns{
    padding: 0 0 0 15px;
}
.ref_label{
    margin: 2px 2px 0 0;
    border: 1px solid black;
    padding: 2px 4px;
    float: left;
    font-weight: normal;
    a{
        color: #000;
    }
}
.branch_label{
    background: #ffeeee;
    border-color: #581313;
    a{
        color: #581313;
    }
}
.remote_label{
    background: #ffe3e3;
    border-color: #b32222;
    a{
        color: #b32222;
    }
}
.tag_label{
    background: #fff4e1;
    border-color: #935a05;
    a{
        color: #935a05;
    }
}
.commits-table{
    border-radius: 3px;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing:0;
    thead{
        border-radius: 3px;
        tr, th{
            border-radius: 3px;
        }
    }
    tr{
        td{
            overflow: hidden;
            padding: 8px;
            vertical-align: top;
        }
    }
    .badges{
        width: 150px;
        .ref_label{
            font-size: 12px;
            padding: 0 2px;
            max-width: 134px;
            word-wrap: break-word;
            text-align: center;
            overflow: hidden;
        }
        .sha{
            font-size:10px;
        }
    }
    .author{
        width: 180px;
    }
    .message{
        div{
            max-height: 56px;
        }
    }
    tbody{
        tr.selected{
            background: #c3e2ff;
            td{
                border-bottom: 2px solid #78c3ff;
                border-top: 2px solid #78c3ff;
                &:first-child{
                    border-left: 1px solid #78c3ff;
                }
                &:last-child{
                    border-right: 1px solid #78c3ff;
                }
            }
        }
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    clear: left;
    list-style-type: none;
    li{
        margin-bottom: -4px;
        padding: 0 4px;
        .new_file{
            color: green;
        }
        .deleted{
            color: red;
        }
    }
    .selected{
        background: #a7d5ff;
    }
}
.diffs{
    background: #fff;
    list-style-type: none;
    font-family: monospace;
    li{
        border-bottom: solid #d7b2b2 8px;
        overflow-x: scroll;        
        div{
            white-space: pre;
            font-size: 14px;
            background-color: #ffebeb;
        }
        .diff-first-line{
            font-weight: bold;
            background: #fc8181;
            border-bottom: 1px solid #777;
        }
        .diff-summ-line{
            background: #fc8181;
            font-weight: bold;
        }
        .diff-added-line{
            color: #030101;            
            background: #3ef466;
            .trailing{
                background: #036420;
            }
        }
        .diff-removed-line{
            position: relative;
            left: 0;
            right: 0;
            color: #030101;
            background: #ef3737;
            .trailing{
                background: #c10000;
            }
        }
        .loading{
            display: none;
        }
    }
    img{
        display: block;
    }
}
.hidden{
    display: none;
}

.show_commit{
    .commit{
        padding:8px;
        .commit_info{
            margin-top: 8px;
            margin-bottom: 8px;
            padding: 0.5em;
            padding-left: 0;
        }
        .commit_date{
            margin-left: 14px;
        }
        .stats{
            float: left;
            text-align: right;
            .additions{
                color: green;
            }
            .deletions{
                color: red;
            }
            .merge_commit{
                font-weight: bold;
                position: relative;
                top: 8px;
                color: #0300ff;
            }
        }
    }
}
.loader{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: url('/images/loader.gif') no-repeat;
    display: none;
}
.status{
    margin-bottom: 8px;
    padding: 4px 0;
    .status_content{
        display: none;
    }
    .status-link{
        display: block;
        color: #000;
        padding-left: 16px;
        font-size: 20px;
    }
    &.selected{
        background: #c3e2ff;
        border-bottom: 2px solid #78c3ff;
        border-top: 2px solid #78c3ff;
        border-left: 1px solid #78c3ff;
        border-right: 1px solid #78c3ff;
    }
}
.ajax-error{
    display: none;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
