@import "foundation/foundation";

.top-bar {
    z-index: 6;
}
.row .history.columns{
    padding: 0;
}
.commits-table{
    thead{
        background: #cbcbcb;
        tr,th{
            border-bottom: 1px solid black;
        }
    }
    table-layout: fixed;
    border-collapse: collapse;
    tr{
        td{
            overflow: hidden;
            padding: 8px;
            vertical-align: top;
        }
    }
    .badges{
        width: 150px;
        .ref_label{
            margin-top: 2px 2px 0 0;
            font-size: 12px;
            border: 1px solid black;
            border-radius: 8px;
            padding: 0 2px;
            float: left;
        }
        .branch_label{
            background: yellow;
        }
        .remote_label{
            background: red;
        }
        .tag_label{
            background: #e77a1c;
        }
    }
    .author{
        width: 180px;
    }
    tbody{
        tr.selected{
            background: #77beff;
            td{
                border-bottom: 2px solid #744096;
                border-top: 2px solid #744096;
                &:first-child{
                    border-left: 2px solid #744096;
                }
                &:last-child{
                    border-right: 2px solid #744096;
                }
            }
        }
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    clear: left;
    padding-top: 14px;
    list-style-type: none;
    li{
        margin-bottom: -8px;
        .new_file{
            color: green;
        }
        .deleted{
            color: red;
        }
    }
}
.diffs{
    background: #fff;
    list-style-type: none;
    li{
        border-bottom: solid #ddd 8px;
        overflow-x: scroll;        
        div{
            white-space: pre;
            font-size: 14px;
        }
        .diff-first-line{
            font-weight: bold;
            background: #A7B5FF;
            border-bottom: 1px solid black;
        }
        .diff-summ-line{
            background: #A7B5FF;
            font-weight: bold;
        }
        .diff-added-line{
            color: #096707;            
            background: #87f49f;
        }
        .diff-removed-line{
            position: relative;
            left: 0;
            right: 0;
            color: #742b2b;
            background: #ffb1cb;
        }
    }
}
.hidden{
    display: none;
}

.show_commit{
    .commit{
        padding:8px;
        background: #ddd;
        border-radius: 16px;
        .author_info{
            width: 50%;
            float: left;
            font-weight: bold;
        }
        .commit_sha{
            margin-bottom:14px;
            margin-top: -14px;
        }
        .stats{
            float: right;
            .additions{
                color: green;
            }
            .deletions{
                color: red;
            }
        }
    }
}
