@import "foundation/foundation";

.top-bar {
    z-index: 6;
    .refresh{
        img{
            position: relative;
            top: 8px;
        }
    }
}
.main .history.columns{
    padding: 0 0 0 15px;
}
.ref_label{
    margin: 2px 2px 0 0;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2px 4px;
    float: left;
    a{
        color: #000;
    }
}
.branch_label{
    background: yellow;
}
.remote_label{
    background: red;
}
.tag_label{
    background: #e77a1c;
}
.commits-table{
    thead{
        background: #cbcbcb;
        tr,th{
            border-bottom: 1px solid black;
        }
    }
    table-layout: fixed;
    border-collapse: collapse;
    tr{
        td{
            overflow: hidden;
            padding: 8px;
            vertical-align: top;
        }
    }
    .badges{
        width: 150px;
        .ref_label{
            font-size: 12px;
            border-radius: 8px;
            padding: 0 2px;
            max-width: 134px;
            word-wrap: break-word;
            text-align: center;
        }
        .sha{
            font-size:10px;
        }
    }
    .author{
        width: 180px;
    }
    .message{
        div{
            max-height: 56px;
        }
    }
    tbody{
        tr.selected{
            background: #c3e2ff;
            td{
                border-bottom: 2px solid #78c3ff;
                border-top: 2px solid #78c3ff;
                &:first-child{
                    border-left: 1px solid #78c3ff;
                }
                &:last-child{
                    border-right: 1px solid #78c3ff;
                }
            }
        }
    }
}
.commit{
    h2{
        overflow: hidden;
    }
}
.diff-names{
    clear: left;
    padding-top: 14px;
    list-style-type: none;
    li{
        margin-bottom: -4px;
        padding: 0 4px;
        .new_file{
            color: green;
        }
        .deleted{
            color: red;
        }
    }
    .selected{
        background: #a7d5ff;
    }
}
.diffs{
    background: #fff;
    list-style-type: none;
    font-family: monospace;
    li{
        border-bottom: solid #ddd 8px;
        overflow-x: scroll;        
        div{
            white-space: pre;
            font-size: 14px;
        }
        .diff-first-line{
            font-weight: bold;
            background: #eee;
            border-bottom: 1px solid #777;
        }
        .diff-summ-line{
            background: #eee;
            font-weight: bold;
        }
        .diff-added-line{
            color: #096707;            
            background: #87f49f;
        }
        .diff-removed-line{
            position: relative;
            left: 0;
            right: 0;
            color: #742b2b;
            background: #ffb1cb;
        }
    }
}
.hidden{
    display: none;
}

.show_commit{
    .commit{
        padding:8px;
        background: #ddd;
        border-radius: 16px;
        .author_info{
            float: left;
            font-weight: bold;
            clear: left;
            color: #eee;
            text-shadow: 1px 1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333, -1px -1px 0px #333; 
        }
        .commit_sha{
            margin-bottom:14px;
            clear: left;
            float: left;
        }
        .commit_date{
            margin-bottom:14px;
            float: right;
        }
        .stats{
            float: right;
            .additions{
                color: green;
            }
            .deletions{
                color: red;
            }
            .merge_commit{
                font-weight: bold;
                position: relative;
                top: 8px;
                color: #0300ff;
            }
        }
    }
}
.loader{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: url('/images/loader.gif') no-repeat;
    display: none;
}
